.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    
}
@keyframes example{
    from{box-shadow: 1px 1px 35px #0000ff;}
    to{box-shadow: 1px 1px 35px greenyellow;}
}
.heading_div{
    float:none;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.heading_div2{
    font-size: 20px;
    font-family: 'New Tegomin', serif;
    
}
.result_para_tag{
    box-shadow:5px 5px 35px red;
    font-size:25px;
}
.copy_write_footer{
    position: fixed;
    text-align: center;
    bottom: 0;
width: 100%;
background-color: silver;
color: #000;
line-height: 3;
}